.clear-fix {
  height: 60px;
}

#container {
  width: 1500px;
  background-color: #fff;
  border-radius: 30px;
}
#titulo {
  border-bottom: 3px solid #ffb703;
}
.map {
  border-radius: 30px;
}

.fa-angle-down{
  color: black;
}
.block{
  display: block;
}
#top{
  padding-top: 20px;
}
.bold{
  font-weight: bold;
}
.fa-folder-open{
  color:#ffb703;
}
#btn {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-90%, -90%);
  -ms-transform: translate(-50%, -50%);
  font-size: 16px;
  
  border: none;
  cursor: pointer;
  border-radius: 25px;
}

.inicio{
  border-radius: 50px;
  background-color: #f7fff7;
  color: black;
  width: 400px;
}

.inicio:hover{
  background-color: #ffb703;
  color: #fff;
}



@media (max-width: 1296px) {
  #container {
    width: 1000px;
  }
  .inicio{
    width: 400px;
  }
}

@media (max-width: 1016px) {
  #container {
    width: 900px;
  }
}
@media (max-width: 940px) {
  #container {
    width: 600px;
  }
  .inicio{
    width: 350px;
  }
  @media (max-width: 615px) {
    #container {
      width: 400px;
    }
    .inicio{
      width: 300px;
    }
  }
  @media (max-width: 418px) {
    #container {
      width: 300px;
    }
    .inicio{
      width: 200px;
    }
  }
}
